
<div class="jumbotron">
  <h1 class="display-4 text-center">Welcome to Reverse Geocoder</h1>
  <p class="lead text-center">It takes latitude and longitude coordinates and returns the address sorted by the distance to The White House.</p>


</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <body>
        <ul class="list-group">
          <li class="list-group-item active">Address and Distance From White House</li>
          <li class="list-group-item"><% results.each do |res| %>
            <p>
              Address: <%= res[:address] %>
            </p>
            <p>
              Distance: <%= res[:distance].round %>
            </p>
            <% end %>
          </li>
        </ul>
      </body>
    </div>
  </div>
</div>
