

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="bg-primary text-center p25">
        Welcome to Reverse Geocoder
      </h1>
      <body>
        <ul class="list-group">
          <li class="list-group-item active">Address and Distance From White House</li>
          <li class="list-group-item"><% results.each do |res| %>
            <p>
              Address: <%= res[:address] %>
            </p>
            <p>
              Distance: <%= res[:distance].round %>
            </p>
            <% end %>
          </li>
        </ul>
      </body>
    </div>
  </div>
</div>
